= error_messages_for :prototype
- form_for(:prototype, :url => collection_url) do |f|
%fieldset
  %legend
    = t("new_prototype")
  = render :partial => "form", :locals => { :f => f }
#actions
  %ul
    %li
      %a{:href=>"/admin/products"} Create
    %li
      %a{:href=>"/admin/products"} Can
